NOTE =  ____REMOVE THIS LINE AFTER RENAMING sample.env to .env ____

OWNER_NUMBER="923115971525"
SESSION_ID = "SESSION_85_23_59_01_kjgfgfclhj"
THUMB_IMAGE = "https://telegra.ph/file/94a31c99e842cda2e5bf0.jpg"
OWNER_NAME = "Suhail"
PREFIX = .
WARN_COUNT = 3
DISABLE_PM = "false" 
MODE = "private"
ANTILINK_VALUES = all
          




